ul.breadcrumbs{
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
}
ul.breadcrumbs li{
    display: inline;
    font-size: 18px;
}
ul.breadcrumbs li+li::before{
    padding: 8px;
    color: black;
    content: "/\00a0";
}
ul.breadcrumbs a{
    text-decoration: none;
}
ul.breadcrumbs a:hover{
    color: #01447e;
    text-decoration: underline;
}
.sidenavbar{
    background-color: aqua;
}
label{
    padding-left: 5px;
}
.flex-container {
    display: flex;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
  }